@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.logo {
    padding: 10px 10px 10px 20px ;
}

header {
    background-color: #030426;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none; 
    color: inherit; 
}

/* CSS */
.banner1 {
    position: relative;
    width: 100%;
}

.banner-img {
    position: relative;
}

.banner-img img {
    width: 100%;
    height: auto;
}

.welcome-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}


.explore-movie {
    color: #4F93F8;
    scale: 1.4;
    padding: 5px 10px;
    align-items: center;
    cursor: pointer;
}

.explore-movie span:hover{
    color: #1353b3;
    
}

.search {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.search input {
    width: 500px;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
}

.search button {
    background-color: #1b6fed;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}

.search button:hover {
    background-color: #1353b3;
}

.card {
    width: clamp(100px, 80vw, 200px); 
    height: 320px; 
    box-shadow: 0 0 .5rem #030426;
    outline: 2px solid #4F93F8;
    overflow: hidden;
    color: #000000;
    cursor: pointer;
    border-radius: .5rem;
}

.img {
    width: 100%;
    height: 150px; 
    overflow: hidden;
    position: relative;
    transition: 200ms ease-in-out transform;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, #FFFFFF, transparent);
}

.info {
    padding: 2rem 1rem 1rem;
}

.info h2 {
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.single-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    margin: .2rem 0;
}

.card:hover .img {
    transform: scale(1.1);
}
  

.movies-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.movies-container {
    padding: 1rem;
    text-align: center;
    color: #000000;
}
  
.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 3rem;
    overflow-y: scroll;
    transform: scale(0);
    transition: 200ms ease-in-out transform;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    width: 1200px;
    margin-top: 10rem;
}

.content .left .single-info {
    font-size: 1rem;
    
    padding: .5rem 0;
}
.content .left .single-info .heart-icon {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
    padding-right: 15px;
}

.content .left .single-info .watchlist-icon {
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.content .left .single-info .heart-icon:hover { transform: scale(1.1); }
.content .left .single-info .heart-icon:active { transform: scale(.9); }

.content .left .single-info .watchlist-icon:hover { transform: scale(1.1); }
.content .left .single-info .wa-icon:active { transform: scale(.9); }

.poster-img {
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem #4F93F8;
    border: 2px solid #4F93F8;
}
.poster-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-info-container { width: 200px; }
.right > *:not(h1) { margin: 1rem 0; }
.trailer iframe {
    border: 2px solid #4F93F8;
    box-shadow: 0 0 .5rem #4F93F8;
    border-radius: .5rem;
    max-width: 400px;
    width: 100%;
    height: 200px;
}
.x-icon {
    font-size: 2rem;
    position: absolute;
    top: 100px;
    right: 100px;
    cursor: pointer;
    user-select: none;
}
.x-icon:hover { transform: scale(1.3); }
.x-icon:active { transform: scale(1); }

.show-popup { transform: scale(1); }

.change-color { color: #4F93F8; }

@media only screen and (max-width: 800px) {
    .popup-container * { padding: 0; }
    .popup-container { padding: 2rem; }
    .content {
        flex-direction: column;
        margin-top: 50rem;
    }
    .x-icon {
        top: 10px;
        right: 20px;
    }

    .search input {
        width: 200px;
    }
}

@media only screen and ( (min-width: 320px) and (max-width: 767px)) {
    .search input {
        width: 200px;
    }

    
    .logo {
        scale: 0.8;
        padding: 0px ;
    }

}
footer {
    margin-top: 20px;
    background-color: #030426;
    text-align: center;
    color:#FFFFFF;
}

.sosmed {
    display: flex;
    justify-content: center;
}

.sosmed .bg {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 60px;
    border: 3px solid #4F93F8;
    margin-right: 10px;
}

.sosmed .bg .fb{
    width: 65%;
    height: 65%;
}

.sosmed .bg .twt{
    width: 65%;
    height: 65%;
}

.sosmed .bg .ig{
    width: 80%;
    height: 80%;
}


footer .logofooter {
    padding-top: 30px;
}

.copyright{
    padding-top: 40px;
    padding-bottom: 5px;
}

.sosmed .bg:hover {
    background-color: #cecece;
}

.search-results {
    display: none;
}

.search-results button{
    background-color: #1b6fed;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}

.explore {
    display: none;
}

.explore button{
    background-color: #1b6fed;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}

.explore button:hover {
    background-color: #1353b3;
}

.search-results button:hover {
    background-color: #1353b3;
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color:white;
    padding:10px 20px;
    background-color: #4F93F8;
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: #1353b3;
}
.no-results{
    color:white;
}